body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #E5E5E5;
}

ul {
list-style-type: none;}

a {
    text-decoration: none;
}

.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4D5AE5;
}

address {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}